<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Single.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0434B18B1C83D58A0055D65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0434B1A41C83D58A0055D65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0434B1AF1C83D58A0055D65C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
